<h1>Listing bottles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Photo link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bottles.each do |bottle| %>
  <tr>
    <td><%= bottle.name %></td>
    <td><%= bottle.year %></td>
    <td><%= bottle.photo_link %></td>
    <td><%= link_to 'Show', bottle %></td>
    <td><%= link_to 'Edit', edit_bottle_path(bottle) %></td>
    <td><%= link_to 'Destroy', bottle, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bottle', new_bottle_path %>
